<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="mycon" connectionString="Server=985a6588-1721-48b7-8e8a-a43f00617699.sqlserver.sequelizer.com;Database=db985a6588172148b78e8aa43f00617699;User ID=yqmgvrjdrsuhhkhj;Password=nczLxxPoi6LUgY4LuQjcrWpHMbxgBuvSuLfp3WHH8ph3dJaYVj6GppfxUY7vaGUV;"/>
  </connectionStrings>
</configuration>